* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14pt;
}

body {
  background: #5abbd8;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
  max-width: 75%;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(252, 252, 252);
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 2;
}

label {
  font-weight: bold;
}

