<p> Enter a name to search through a json. Any person with the same firstname or same last name will show up. Click on
    the name to learn more information on that person.</p>
<form action="/search" method="POST">
    <label for="inputName">
        Enter name here
    </label>
    <div>
        <input type="text" name="personName" placeholder="Name" value="" id="inputName" />
        <button type="submit">Submit</button>
    </div>
</form>